section {
    background-color: #68cdd5;
}

.content {
    width: 100%;
    /* height: 100%; */
    background-color: #68cdd5;
}

.content div {
    padding-bottom: 10%;
}

.content .icon {
    width: 100%;
    /* height: 8.3%; */
    height: 25%;
}

.content .icon a {
    position: absolute;
    top: 2.9%;
    left: 3.7%;
    display: block;
    width: 17.5%;
    height: 11.4%;
    background: url('../image/icon3.png') no-repeat;
    /*  */
}


/*顶部结束*/

.content .logo {
    width: 100%;
    /* height: 22.2%; */
    height: 25%;
}

.content .logo h1 {
    width: 85%;
    height: 100%;
    /* width: 187px;
    height: 103px; */
    margin: 0 auto;
    /* background: url('../image/logo.png') no-repeat center center; */
    background-size: 18%;
}

.content .logo h1 img {
    margin: 0 auto;
    display: block;
}


/*logo 结束*/

.content .text {
    width: 100%;
    /* height: 37%; */
    height: 25%;
    /* position: relative; */
}

.content .text p {
    /* position: absolute;
    top: 30%;
    left: 35%; */
    width: 45%;
    height: 37%;
    margin: 0 auto;
    color: #fff;
    /* line-height: 20px; */
    font-size: 2.5em;
    /* text-align: center; */
}

.content .user {
    width: 100%;
    /* height: 33.4%; */
    height: 25%;
}

.content .user ul {
    width: 100%;
    height: 100%;
}

.content .user li {
    width: 50%;
    height: 45.1%;
    /* background-color: red; */
    float: left;
}

.content .user li a {
    line-height: 14.5em;
    display: block;
    width: 32%;
    height: 100%;
    margin: 0 auto;
    background-size: 50%;
}

.content .user li a img {
    margin: 0 auto;
    display: block;
}

.user li .left {
    /* background: url('../image/icon1.png') no-repeat center center; */
}

.user li .right {
    /* background: url('../image/icon2.png') no-repeat center center; */
}

.user li span {
    /* display: inline;*/
    text-align: center;
    display: block;
    font-size: 2.5em;
}