*{
    margin: 0; 
    padding: 0;
}

li {
    list-style-type: none;
}

#nav {
    clear: both;
    width: 1200px;
    height: 50px;
    margin: 60px auto;
    background-color: skyblue;
}

.nav_list li {
    width: 100px;
    height: 50px;
    float: left;
    background-color: green;
    margin-left: 10px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.nav_list li:hover {
    background-color: #ccc;
    color: antiquewhite;
}
.xiala{
    display: none;
}
.xiala li {
    margin: 0;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}
.xiala1 li{
    margin: 0;
}
.xiala2 li {
    margin: 0;
}
.xiala3 li {
    margin: 0;
}
.xiala4 li {
    margin: 0;
}
.xiala5 li {
    margin: 0;
}